.login{
    height: 100vh;
    background-image: linear-gradient(#0000006e,#0000007e), url(/background_banner.jpg);
    padding: 20px 8%;
}
.login-logo{
    width: 120px;
    margin-bottom: 40px;
}
.login-form{
    max-width: 400px;
    margin: auto;
    background: #000000b3;
    padding: 60px 40px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-form h2{
    margin-bottom: 20px;
}
.login-form input{
    padding: 16px 20px;
    margin: 12px 0;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    border-radius: 4px;
    font-size: 16px;
}
.login-form input::placeholder{
    font-weight: 500;
    font-size: 16px;
}
.login-form button{
    border: none;
    outline: none;
    padding: 16px 20px;
    background: #e50914;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
.form-help{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
    font-size: 14px;
}
.remember{
    display: flex;
    align-items: center;
    gap: 6px;
}
.remember input{
    width: 18px;
    height: 18px;
}
.form-switch{
    margin-top: 40px;
    color: #b3b3b3;
}
.form-switch span{
    color: white;
    cursor: pointer;
}