.Player {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    .player-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        }
    .Player img {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        width: 50px;
        }
    .player iframe {
        border-radius: 10px;
    }